$font-site: 'Roboto', sans-serif;
$color-primary-dark: #000000;
$color-active: #B92F2C;
$color-secondary: #8C8C8C; 
$color-primary-background: #ffffff;
$mobile-width: 480px;
$table-width: 768px;
$desktop-width: 1280px;
