<div class="header__container container">
  <nav class="nav">
    <input
      class="search-input"
      type="text"
      name="search"
      placeholder="Movie search"
    />
    <ul class="menu-list list">
      <li class="menu-list__item">
        <a class="menu-list__link menu-list__link--active" href="#">Home</a>
      </li>
      <li class="menu-list__item">
        <a class="menu-list__link" href="#">My library</a>
      </li>
    </ul>
  </nav>
  <div class="logo">
    <a class="logo__link link" href="#">
      <img class="logo__icon" src="./images/icons/logo.svg" alt="logo" />
      <div class="logo__text">Filmoteka</div>
    </a>
  </div>
</div>
