<!-- <section>
  <div class="container">
    <p>я хедер бібліотеки моїх фільмів строінки</p>
    <a href="./index.html">головна сторінка</a>
  </div>
</section> -->

<header class="header-mylibrary">
  <div class="header__container container">
    <div class="header-mylibrary__nav">
      <nav class="nav">
        <ul class="menu-list list">
          <li class="menu-list__item">
            <a
              class="menu-list__link menu-list__link--active"
              href="./index.html"
              >Home</a
            >
          </li>
          <li class="menu-list__item">
            <a class="menu-list__link" href="./mylibrary.html">My library</a>
          </li>
        </ul>
      </nav>

      <ul class="menu-list list">
        <li>
          <button class="library__button">Watched</button>
        </li>
        <li><button class="library__button">Queue</button></li>
      </ul>
    </div>

    <div class="logo">
      <a class="logo__link link" href="#">
        <img class="logo__icon" src="./images/icons/logo.svg" alt="logo" />
        <div class="logo__text">Filmoteka</div>
      </a>
    </div>
  </div>
</header>
