<div class="backdrop js-infoFilm is-hidden">
  <div class="modal">
    <button class="film-info-card__button-close" type="button"></button>
    <div class="film-info__card">
      <div class="film-info-card__image"></div>
      <div class="film-info__details">
        <div class="film-info-card__bloque"></div>
        <div class="film-info-card__buttons">
          <button class="modal-button btn-add-to-watched" type="button">
            ADD TO WATCHED
          </button>
          <button class="modal-button btn-add-to-queue" type="button">
            ADD TO QUEUE
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
