<div class="backdrop is-hidden">
  <div class="modal">
    <button class="film-info-card__button-close" type="button">
      <img src="./images/icons/close.svg" class="button-close__icon" />
      <!-- <svg width="30px" height="30px" class="button-close__icon">
        <use href="./images/icons/close.svg"></use>
      </svg> -->
    </button>
    <div class="film-info__card">
      <div class="film-info-card__image"></div>
      <div class="film-info__details">
        <div class="film-info-card__bloque"></div>
        <div class="film-info-card__buttons">
          <button class="modal-button btn-add-to-watched" type="button">ADD TO WATCHED</button>
          <button class="modal-button btn-add-to-queue" type="button">ADD TO QUEUE</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 

<div class="film-card__description">
  <h1 class="film-card__description-title"></h1>
  <ul class="film-card__description-set">
    <li class="description-set">
      <p class="description-set__text"></p>
      <p class="description-set__value">
        <span class="description-set__rating"></span>
        <span class="description-set__separator">/</span>
        <span class="description-set__vote"></span>
      </p>
    </li>
    <li class="description-set">
      <p class="description-set__text"></p>
      <p class="description-set__value"></p>
    </li>
    <li class="description-set">
      <p class="description-set__text"></p>
      <p class="description-set__value"></p>
    </li>
    <li class="description-set">
      <p class="description-set__text"></p>
      <p class="description-set__value"></p>
    </li>
  </ul>
  <div class="film-card__description-about">
    <h2 class="description-about__title"></h2>
    <p class="description-about__text"></p>
  </div>
  <div class="film-card__description-button">
    <button class="description-button description-button__watched" data-id="${id}">
      
    </button>
    <button class="description-button description-button__queue" data-id="${id}">
    
    </button>
  </div>
</div>
</div> -->
