.js-backdrop {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  align-items: center;
}

.modal-team {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 936;

  height: 608px;
  text-align: center;
  align-items: center;
  overflow-y: scroll;

  overflow-y: auto;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  justify-content: space-between;

  background-color: #ffffff;
  padding-bottom: 13px;
  padding-top: 13px;
}

.developer-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.devcont-item {
  list-style: none;
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  justify-content: space-between;
  margin: 0 30px;
  display: inline-block;
  flex-wrap: wrap;
  align-items: center;
}

.devcont-img {
  border-radius: 25%;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 0;
  margin-right: 0;
  box-shadow: rgba(83, 85, 87, 0.4) 0px 0px 0px 2px,
    rgba(170, 177, 185, 0.65) 0px 4px 6px -1px,
    rgba(153, 141, 141, 0.08) 0px 1px 0px inset;
  height: 180px;
  width: 180px;
  transition: box-shadow 0.4s cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    transform: scale(1.1);
    transition: all, ease-in-out, 500ms;
    box-shadow: #ff6b08 0px 2px 9px, rgb(255, 108, 11) 0px 0px 0px 3px;
  }
}

.devcont-description {
  display: inline-block;
  text-align: center;
  transform: scale(1.1);
  font-size: 14px;
  font-weight: 500;
}

.devcont-name {
  margin-bottom: 10px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #000;
}

.devcont-position {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 700;
  color: #ff6b08;
}

.modal-team__close {
  position: absolute;
  top: 8px;
  left: 55rem;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
  margin: 0;
}

.icon-close-modal-stud {
  border-radius: 50%;
  background-color: transparent;

  &:hover,
  :focus {
    transform: scale(1.1);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgb(255, 108, 11) 0px 1px 3px 1px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .modal-team {
    flex-wrap: wrap;
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;

    width: 680px;

    max-height: 100vh;
    position: relative;
    margin: auto;
  }

  .devcont-item {
    justify-content: center;
    align-items: center;
  }

  .devcont-name {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 700;
  }

  .devcont-img {
    border-radius: 25%;
    margin-bottom: 10px;
    width: 135px;
    height: 135px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .modal-team {
    flex-wrap: wrap;
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    width: 295px;
    max-height: 100vh;
    position: relative;
    margin: auto;
  }

  .developer-container {
    display: flex;
    flex-wrap: wrap;
  }

  .devcont-item {
    justify-content: center;
    margin: 0 20px;
    align-items: center;
  }

  .devcont-img {
    border-radius: 25%;
    margin-bottom: 10px;
    width: 140px;
    height: 140px;
    transition: box-shadow 0.4s cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      transform: scale(1);
      box-shadow: 0px 10px 50px #ff6b08;
    }
  }

  .devcont-name {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 600;
  }

  .devcont-position {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
  }
}

.dev-title {
  align-items: center;
  justify-content: center;
  font-size: 26px;
  font-style: bold;
  font-weight: 700;
  color: #f5760e;
  text-align: center;
  letter-spacing: 3%;
}

.dev-set {
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.social-network-link {
  color: #000;
}

.social-network-item {
  &:hover {
    transform: scale(1.75);
    transition: 0.3s cubic-bezier(0.95, 0.32, 0.37, 1.3);
  }
}

.social-network-box::not {
  margin-bottom: 10px;
}

.social-network-link .fa-github:hover {
  color: #333;
  transition: 0.5s cubic-bezier(0.95, 0.32, 0.37, 1.3);
}

.social-network-link .fa-github:hover {
  color: rgb(152, 77, 27);
  transition: 0.5s cubic-bezier(0.95, 0.32, 0.37, 1.3);
}

.social-network-link .fa-instagram:hover {
  color: #26b432;
  transition: 0.5s cubic-bezier(0.95, 0.32, 0.37, 1.3);
}

.social-network-link .fa-linkedin:hover {
  color: #0f62df;
  transition: 0.5s cubic-bezier(0.95, 0.32, 0.37, 1.3);
}

.social-network-link .fa-facebook:hover {
  color: #1c05f1;
  transition: 0.5s cubic-bezier(0.95, 0.32, 0.37, 1.3);
}

.social-network-box {
  align-items: center;
}

.social-network-item {
  display: inline-block;
  margin-right: 10px;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .devcont-social-network {
    margin: 0 auto;

    &:not(:last-child) {
      margin: 0 20px;
    }
  }

  .social-network-item {
    &:hover {
      transform: scale(1.5);
    }
  }
}

.social-network-box {
  padding-left: 10px;
  align-items: center;
  justify-content: center;
}

.modal-team::-webkit-scrollbar {
  width: 12px;
}

.modal-team::-webkit-scrollbar-track {
  background: #ffffff;
}

.modal-team::-webkit-scrollbar-thumb {
  background-color: #858484;
  border-radius: 20px;
}
