footer {
  background-color: #f7f7f7;
}

.footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  padding: 29px;

  @media screen and (min-width: $table-width) {
    flex-direction: row;
    gap: 6px;
  }
}

.footer__copyright {
  text-align: center;
  font-size: 14px;

  color: #545454;

  @media screen and (min-width: $table-width) {
    font-size: 16px;
  }
}

.footer__team {
  color: #545454;
  font-size: 14px;

  @media screen and (min-width: $table-width) {
    font-size: 16px;
  }
}

.footer__icon {
  display: inline-block;
  -webkit-animation: 3s heartbeat infinite;
}

.footer__team-link {
  display: inline;
  color: #545454;
  text-decoration: underline;
 
}

.footer__team-link:hover {
    cursor: pointer;
    color: #ff6b08;
    text-decoration: underline;
}



@-webkit-keyframes heartbeat {
  0% {
  }
  40% {
    scale: 1;
  }
  42% {
    scale: 1.4;
  }
  44% {
    scale: 1;
  }
  50% {
    scale: 1;
  }
  52% {
    scale: 1.4;
  }
  54% {
    scale: 1;
  }
  100% {
  }
} ;
