.section {
  @media screen and(min-width:320px) {
    margin-top: 20px;
  }

  @media screen and(min-width:768px) {
    margin-top: 60px;
  }
}

.gallery-markup {
  min-height: 500px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  gap: 20px;

  @media screen and (min-width: $table-width) {
    gap: 32px;
  }

  @media screen and (min-width: $desktop-width) {
    gap: 32px 14px;
  }
}

.card-set {
  @media screen and(min-width:768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }

  @media screen and(min-width:1024px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.card-set__item {
  display: flex;
  flex-direction: column;
  cursor: pointer;

  @media screen and(max-width:768px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and(min-width:768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;

    &.card-set__item:nth-child(-n + 2) {
      margin-top: 0;
    }
  }

  @media screen and(min-width:1024px) {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;

    &.card-set__item:nth-child(-n + 3) {
      margin-top: 0;
    }
  }
}

.card-set__box-img {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.card-set__img {
  height: 100%;
  border-radius: 5px;
}

.card-set__title {
  margin-top: 10px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #000000;
}

.card-set__genre {
  justify-content: left;
  align-items: baseline;
  display: flex;
}

.card-set__genre-movie,
.card-set__production-year {
  color: #ff6b08;
}

.card-set__description {
  align-items: baseline;
  display: flex;
}
@keyframes spinner-line-fade-more {
  0%,
  100% {
    opacity: 0; /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}

@keyframes spinner-line-fade-quick {
  0%,
  39%,
  100% {
    opacity: 0.25; /* minimum opacity */
  }
  40% {
    opacity: 1;
  }
}

@keyframes spinner-line-fade-default {
  0%,
  100% {
    opacity: 0.22; /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}

@keyframes spinner-line-shrink {
  0%,
  25%,
  100% {
    /* minimum scale and opacity */
    transform: scale(0.5);
    opacity: 0.25;
  }
  26% {
    transform: scale(1);
    opacity: 1;
  }
}
