.header__container {
  padding: 14px 14px 20px 14px;
  background-image: url(../images/header-mobile.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;

  animation: 10s anibBegMobile infinite;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/header-mobile@2x.jpg);
  }

  @media screen and (min-width: $table-width) {
    height: 222px;
    padding: 16px;
    background-image: url(../images/header-tablet.jpg);
    animation: 10s anibBegTablett infinite;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/header-tablet@2x.jpg);
    }
  }

  @media screen and (min-width: $desktop-width) {
    padding: 16px 32px 32px 32px;
    height: 316px;
    background-image: url(../images/header-desktop.jpg);
    animation: 10s anibBegDesctop infinite;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/header-desktop@2x.jpg);
    }
  }
}

@keyframes anibBegDesctop {
  0% {
  }
  22% {
    background-image: url(../images/header-desktop.jpg);
  }
  33% {
    background-image: url(../images/header-desktop1.jpg);
  }
  55% {
    background-image: url(../images/header-desktop1.jpg);
  }
  66% {
    background-image: url(../images/header-desktop2.jpg);
  }
  88% {
    background-image: url(../images/header-desktop2.jpg);
  }
  100% {
    background-image: url(../images/header-desktop.jpg);
  }
}

@keyframes anibBegTablett {
  0% {
  }
  22% {
    background-image: url(../images/header-tablet.jpg);
  }
  33% {
    background-image: url(../images/header-tablet1.jpg);
  }
  55% {
    background-image: url(../images/header-tablet1.jpg);
  }
  66% {
    background-image: url(../images/header-tablet2.jpg);
  }
  88% {
    background-image: url(../images/header-tablet2.jpg);
  }
  100% {
    background-image: url(../images/header-tablet.jpg);
  }
}

@keyframes anibBegMobile {
  0% {
  }
  22% {
    background-image: url(../images/header-mobile.jpg);
  }
  33% {
    background-image: url(../images/header-mobile1.jpg);
  }
  55% {
    background-image: url(../images/header-mobile1.jpg);
  }
  66% {
    background-image: url(../images/header-mobile2.jpg);
  }
  88% {
    background-image: url(../images/header-mobile2.jpg);
  }
  100% {
    background-image: url(../images/header-mobile.jpg);
  }
}

.nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;

  @media screen and (min-width: $table-width) {
    gap: 8px;
  }
}

.search {
  position: relative;
  width: 100%;
  order: 2;

  @media screen and (min-width: $table-width) {
    width: 165px;
  }

  @media screen and (min-width: $desktop-width) {
    width: 187px;
  }
}

.search__input {
  width: 100%;
  height: 42px;
  padding: 16px;
  padding-right: 40px;
  background: #ffffff;
  border-radius: 100px;
  border: none;

  @media screen and (min-width: $table-width) {
    width: 165px;
  }

  @media screen and (min-width: $desktop-width) {
    width: 187px;
  }
}

.search__input::placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
}

.search__btn {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.menu-list {
  display: flex;
  align-items: center;
  gap: 4px;

  @media screen and (min-width: $table-width) {
    gap: 8px;
    order: 2;
  }
}

.menu-list__link {
  display: block;

  padding: 14px 24px;
  background: #ffffff;
  border-radius: 100px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.menu-list__link:hover,
.menu-list__link:focus {
  background-color: #000;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-list__link--active {
  background-color: #000;
  color: #fff;
}

.logo {
  margin-top: 60vh;

  @media screen and (min-width: $table-width) {
    margin-top: 105px;
    width: 260px;
  }
  @media screen and (min-width: $desktop-width) {
    margin-top: 175px;
  }
}

.logo__icon {
  width: 44px;
}

.logo__link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-weight: 500;
  font-size: 44px;
  color: #ffffff;

  @media screen and (min-width: $table-width) {
    justify-content: start;
    gap: 16px;
  }
}
