
.logo__link {
  @media   screen and (max-width: $table-width) {
    margin-left: 44px;
  }
}


.header-mylibrary__nav--logo {

@media   screen and (min-width: $table-width) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  @media   screen and (max-width: $table-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.header-mylibrary__nav {
  @media   screen and (max-width: $table-width) {
    margin-bottom: 16px;
  }
}

.header-mylibrary__btn {
  @media   screen and (max-width: $table-width) {
    margin-left: 44px;
  }
}

.library__button {
  padding: 14px 24px;
  background: #ffffff;
  border-radius: 100px;
  border: none;
  font-family: $font-site;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  color: #B92F2C;
  text-decoration: none;
}

.library__button:hover,
.library__button:focus {
  background-color: #B92F2C;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

// .library__button--active {
//   background-color: #B92F2C;
//   color: #fff;
// }
