.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 999;
  transition: visibility 0.5s, opacity 0.5s;
  overflow: auto;
}

.modal {
  background-color: $color-primary-background;
  position: absolute;
  width: 280px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 48px 20px 40px 20px;

  @include tablet {
    width: 704px;
    padding: 40px 36px 64px 36px;
  }

  @include desktop {
    width: 804px;
    padding: 40px 12px 40px 12px;
  }
}

.film-info__card {
  display: flex;
}

.film-info-card__button-close {
  position: fixed;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 0;
  color: $color-primary-dark;
  background-color: $color-primary-background;
  cursor: pointer;
}

.button-close__icon {
}

.film-info__description-label {
  display: inline-block;
  width: 152px;
}

// .film-card-modal {
//   background-color: #ffffff;
//   width: 280px;
//   position: absolute;
//   margin-top: 200px;
//   left: 50%;
//   top: 50%;
//   transform: translate(-50%, -50%);
//   padding: 48px 20px 40px 20px;

//   @media screen and(min-width:768px) {
//     margin-top: 0px;
//     width: 704px;
//     display: flex;
//     padding: 40px 72px 64px 36px;
//   }

//   @media screen and(min-width:1024px) {
//     width: 814px;
//     padding: 40px 12px 40px 12px;
//   }
// }

// .film-card__box {
//   @media screen and(min-width:768px) {
//     display: flex;
//   }
// }

// .film-card__button-close {
//   position: absolute;
//   top: 0;
//   right: 0;
//   background-color: transparent;
//   cursor: pointer;
//   border: transparent;
//   margin-top: 10px;
//   margin-right: 8px;
//   margin-bottom: 10px;
//   background: url('../images/icons/close.svg');
//   background-repeat: no-repeat;
//   background-position: center;

//   @media screen and(min-width:768px) {
//     margin-bottom: 0;
//     margin-top: 8px;
//     margin-right: 8px;
//   }
// }

.film-info-card__image {
  width: 240px;
  height: 357px;

  @include tablet {
    margin-right: 68px;
    width: 264px;
    height: 374px;
  }

  @include desktop {
    margin-right: 16px;
    width: 375px;
    height: 478px;
  }
}

.film-info-card__poster {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
  object-position: center center;
}

.film-info-card__bloque {
  width: 391px;
}

.film-info-details__list {
  list-style: none;
  padding: 0;
}

.film-info-details__element {
  display: flex;
}

.film-info-details__value {
  margin-left: 20px;
  font-weight: 400;
  color: #888;
}

.film-info-card__buttons {
  padding-top: 20px;
}

.modal-button {
  border-radius: 8px;
  background-color: $color-primary-background;
  border: red solid 1px;
  padding: 10px;
  margin-right: 10px;
}

// .film-card__description-title {
//   font-size: 20px;
//   margin-bottom: 20px;
//   margin-top: 20px;

//   @media screen and(min-width:768px) {
//     font-size: 20px;
//     margin-top: 0;
//   }

//   @media screen and(min-width:1200px) {
//     font-size: 30px;
//   }
// }

// .description-set {
//   display: flex;

//   &:not(:last-child) {
//     margin-bottom: 8px;
//   }
// }

// .description-set__text {
//   margin-right: 39px;
//   width: 69px;
//   color: #8c8c8c;

//   @media screen and(min-width:1024px) {
//     margin-right: 83px;
//   }
// }

// .description-about__title {
//   margin-top: 20px;
//   text-transform: uppercase;
// }

// .description-about__text {
//   width: 240px;
//   margin-top: 8px;

//   @media screen and(max-width:767.9px) {
//     height: 75px;
//     overflow-y: auto;
//   }

//   @media screen and(min-width:768px) {
//     width: 264px;
//   }

//   @media screen and(min-width:1024px) {
//     width: 391px;
//   }
// }

// .description-set__rating {
//   width: 36px;
//   height: 16px;
//   padding: 1px 9px 1px 9px;
//   background-color: #b92f2c;
//   border-radius: 5px;
//   color: #ffffff;
// }

// .description-set__separator {
//   color: #8c8c8c;
// }

// .description-set__vote {
//   width: 36px;
//   height: 16px;
//   background: #ffffff;
//   border-radius: 5px;
//   padding: 1px 4px 1px 4px;
// }

// .film-card__description-button {
//   display: flex;
//   margin-top: 20px;
// }

// .description-button {
//   width: 110px;
//   height: 44px;
//   background-color: #ffffff;
//   border-radius: 5px;
//   border: 1px solid #000;
//   text-transform: uppercase;
//   cursor: pointer;

//   &:not(:last-child) {
//     margin-right: 20px;
//   }

//   &:focus {
//     background-color: #b92f2c;
//     color: #ffffff;
//     border: none;
//   }

//   @media screen and(min-width:768px) {
//     width: 125px;
//   }

//   @media screen and(min-width:1024px) {
//     width: 136px;
//   }
// }
