.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  transition: visibility 0.5s, opacity 0.5s;
  overflow: auto;
}

.modal {
  background-color: $color-primary-background;
  position: absolute;
  width: 280px;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  padding: 48px 20px 40px 20px;

  @include tablet {
    top: 50%;
    transform: translate(-50%, -50%);
    width: 704px;
    padding: 40px 36px 64px 36px;
  }

  @include desktop {
    width: 804px;
    padding: 40px 12px 40px 12px;
  }
}

.film-info__card {
  display: block;

  @include tablet {
    display: flex;
  }
}

.film-info-card__button-close {
  position: fixed;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 0;
  padding: 8px;
  background: url('../images/icons/close.svg');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.film-info-card__image {
  width: 240px;
  // height: 357px;

  @include tablet {
    margin-right: 68px;
    width: 264px;
    // height: 374px;
  }

  @include desktop {
    margin-right: 16px;
    width: 375px;
    // height: 478px;
  }
}

.film-info-card__poster {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
  object-position: center center;
}

.film-info-card__bloque {
  @include tablet {
    width: 264px;
  }

  @include desktop {
    width: 391px;
  }
}

.film-info-details__header {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-transform: uppercase;
  padding-top: 20px;

  @include tablet {
    padding-top: 0;
  }

  @include desktop {
    font-size: 30px;
    line-height: calc(35 / 30);
  }
}

.film-info-details__table {
  list-style: none;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
}

.film-info-details__element {
  display: flex;
}

.film-info-details__text {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: $color-secondary;
  width: 108px;
  vertical-align: top;
  padding-left: 0;

  @include desktop {
    width: 152px;
  }
}

.film-info-details__value {
  font-weight: 500;
  color: $color-primary-dark;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  vertical-align: top;
}

.film-info-details__vote-cell {
  padding-top: 0;
  padding-bottom: 0;
}

.film-info-details__rating {
  display: inline-block;
  background-color: $color-active;
  color: #ffffff;
  width: 36px;
  height: 16px;
  border-radius: 5px;
  align-items: center;
  text-align: center;
  padding: 1px;
  margin-right: 3px;
}

.film-info-details__vote {
  display: inline-block;
  background-color: #f7f7f7;
  color: $color-primary-dark;
  width: 36px;
  height: 16px;
  border-radius: 5px;
  align-items: center;
  text-align: center;
  padding: 1px;
  margin-left: 3px;
}

.film-info__about-header {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;
  align-items: center;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.film-info__about {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: $color-primary-dark;
}
.film-info-card__buttons {
  display: flex;
  padding-top: 20px;
  gap: 4px;

  @include tablet {
    gap: 8px;
  }
}

.modal-button {
  border-radius: 8px;
  background-color: $color-primary-background;
  border: $color-active;
  padding: 10px 12px;
  height: 34px;

  @include tablet {
    height: 38px;
  }

  @include desktop {
    height: 42px;
  }

  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;

  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  box-shadow: 0px 0px 7px rgba(27, 27, 27, 0.15);
  border-radius: 100px;
  border: 1px solid $color-primary-dark;

  cursor: pointer;
}

.modal-button__active {
  background-color: $color-active;
  color: #ffffff;
  border: 1px solid $color-active;
}
